/* CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* FONTS */
p, h1, h2, label {
    font-family: 'Roboto';
}
/* PAGE CSS */

#signup-section {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100vw;
    height: 100vh;
}

#signup-image {
    background-color: aquamarine;
    background-image: url(img/rana-sawalha-X7UR0BDz-UY-unsplash.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

#signup-image > div {
    background-color: rgba(0, 0, 0, 0.30);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    position: absolute;
    top: 40vh;
    width: 100%;
}

#logo-img {
    height: 80px;
}

#signup-image > div > h1 {
    font-size: 55px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
}

/* RIGHT SIDE */

#signup-form-sect {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#signup-inner-div {
    width: 100%;
    height: auto;
}

#signup-inner-div > form {
    
}

#signup-inner-div > form > section{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: white;
    padding: 20px 50px;
}

form > section > div {
    display: flex;
    flex-flow: column wrap;
    padding-bottom: 10px;
}

form > section > div > input {
    width: 200px;
}

#submit-btn-div {
    padding-top: 20px;
    padding-left: 50px;
}

#submit-btn-div > button{
    width: auto;
    padding: 10px 30px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    background-color: lightseagreen;
    border: none;
    border-radius: 5px;
    color: white;
}

#submit-btn-div > button:hover {
    background-color: darkolivegreen;
}

/* TEXT STYLING */

#signup-inner-div > div {
    padding-left: 50px;
    padding-bottom: 20px;
}

#signup-inner-div > div > p {
    font-size: 24px;
    padding-bottom: 20px;
    font-weight: bold;
}

#signup-inner-div > form > section > h1 {
    font-size: 24px;
    padding-bottom: 20px;
    grid-column-start: span 2;
}

form > section > div > label {
    font-size: 14px;
    padding-bottom: 5px;
    text-transform: uppercase;
}
